<div id="<%= dom_id image %>">
  <p>
    <strong>Title:</strong>
    <%= image.title %>
  </p>
  <% if image.picture.attached? %>
    <%= link_to image_tag(image.picture), image %>
  <% end %>

</div>
