<div id="<%= dom_id image %>">
  <h3 class="display-6"><%= image.title %></h3>
  <% if image.picture.attached? %>
    <% if defined?(clickable) && clickable%>
      <%= link_to image_tag(image.picture), image_path(image) %>
    <% else %>
      <%= image_tag(image.picture) %>
    <% end %>
  <% end %>
</div>
