<h2 class="display-1">Home page</h2>

<div id="images">
  <% @images.each do |image| %>
    <%= render image, clickable: true %>
    <p>
      <% link_to "Show this image", image %>
    </p>
  <% end %>
</div>

<%= link_to "New image", new_image_path, class: "btn btn-dark" %>